@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap);

@import "../style/parciales/paleta";
@import "../style/parciales/layout";
@import "../style/parciales/cards";
@import "../style/parciales/cliente";
@import "../style/parciales/servicios";



@mixin sizes__img__card($height, $width, $br) {
    height: $height;
    width: $width;
    border-radius: $br;
}

.card-title--color{
    @extend .card-title;
    color: $title-background;
    font-weight: 500;
}

.member_img{
    @include sizes__img__card(150px, 150px, 150px);
}

$redes:(
    "linkedin": rgb(0, 132, 255),
    "instagram": rgb(150, 76, 150),
    "facebook": rgb(65, 65, 228)
);

@each $red, $color in $redes {
    .icon--#{$red}{
        color: $color;
    }
}