@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap);
body {
  background: #fafafa;
  font-family: 'Work Sans'; }

.navbar--color {
  background-color: #333; }

.active {
  font-weight: bold;
  background-color: #6B62FF; }

.title {
  color: #6B62FF;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.subtitle {
  color: #6B62FF;
  font-weight: bold;
  text-transform: uppercase; }

.footer {
  background-color: #333;
  color: white;
  height: auto;
  padding: 10px; }

.btn-purple {
  color: white;
  background-color: #6B62FF; }
  .btn-purple:hover {
    color: white;
    background-color: #5e56f7; }

.card:hover {
  color: white;
  background: #6B62FF;
  transform: scale(1, 1.02);
  transition: 0.5s; }
  .card:hover .card-title, .card:hover .card-title--color {
    color: white; }

.team {
  background: #E6E6E6;
  height: auto; }

.clients {
  background: #E6E6E6;
  height: auto; }
  .clients__img img {
    height: 10rem; }
  .clients__img:hover {
    background: #6B62FF;
    transform: scale(1, 1.02);
    transition: 0.5s; }

.item_services {
  color: #3F3D56;
  font-size: 1.2rem;
  font-weight: 300; }
  .item_services:before {
    color: #3F3D56;
    content: "- "; }

.card-title--color {
  color: #6B62FF;
  font-weight: 500; }

.member_img {
  height: 150px;
  width: 150px;
  border-radius: 150px; }

.icon--linkedin {
  color: #0084ff; }

.icon--instagram {
  color: #964c96; }

.icon--facebook {
  color: #4141e4; }
