body{
    background: #fafafa;
    font-family: 'Work Sans';
}

.navbar--color{
    background-color: #333;
}

.active{
    font-weight: bold;
    background-color: #6B62FF;
}

.title{
    color: #6B62FF;
    font-family: 'Work Sans', sans-serif;
    /* font-size: 3.5rem; */
    font-weight: bold;
    text-transform: uppercase;
}

.subtitle{
    color: #6B62FF;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer{
    background-color: #333;
    color: white;
    height: auto;
    padding: 10px;
}

.team{
    background: #E6E6E6;
    /* display: inline-block; */
    height: auto;
}

.member_img{

    height: 150px;
    width: 150px;
    border-radius: 150px;
}

.card-title--color{
    color: #6B62FF;
    font-weight: bold;
}

.card:hover{
    color: white;
    background:#6B62FF;
    transform: scale(1,1.02);
    transition: 0.5s;
}

.card:hover .card-title {
    color: white;
}

.item_services{
    color: #3F3D56;
    font-size: 1.2rem;
    font-weight: 300;
}

.item_services:before{
    color: #3F3D56;
    content: "- ";
}