@import "./paleta";
@import "./transform";
.clients{
    background: $clients-background;
    height: auto;

    &__img img{
        height: 10rem;
    }

    &__img:hover{
        background:$title-background;
        @include img__transform;
        // transform: scale(1.1,1.1);
        // transition: 0.5s;
    }
}
